


.open-sans-noarmal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-color{
    color: rgb(243, 58, 17);
}
.h3{
    font-size:x-large;
  font-weight: 800;
  margin-left: 100px;
}
.link{
    margin-right: 30px;
    text-decoration-line: none;
    color: rgb(64, 74, 74);
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    }
    
    
.sec1{
  /*align-items: center;*/
}
.btn{
  font-weight: bolder;
  padding: 10px;
  background-color: #FD6E0A;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;

}
.bcontent{
  margin-left: 100px;
}
.banner{
  display: flex;
  
}
#hardy{
  margin-right: 20px;
}
.developer{
  margin-top: 0px;
}
.greet{
  color: rgb(126, 88, 88);
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 0px;
}
.Tafhim{
  font-size: 75px;
  font-weight: bold;
  margin-top: 0px;
}
.pera{
  margin-right: 300px;
}
.contact{
  padding: 7px 20px;
  color: #FD6E0A;
  font-weight: 900;
  margin-left: 15px;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
}
.pera-for-me{
  font-weight:bold;
}

